<header>
    <div class="row mb-3">        
        <div class="col-3">
            <img src="~/Logo/KMpng.png" class="w-100">
        </div>
        <div class="content col-12">

            <ul id="sdt_menu" class="sdt_menu">
                <!--Online Recharge-->
                <li>
                    <a href="@Url.Action("Home","Home")" id="@(ViewBag.Current == "Home" ? "active" : "")">
                        <span class="sdt_wrap">
                            <span class="sdt_link">Home</span>
                            <span class="sdt_descr">Somthing</span>
                        </span>
                    </a>
                </li>
                <!--Online Recharge-->
                <li>
                    <a href="@Url.Action("Index","OR")" id="@(ViewBag.Current == "OR" ? "active" : "")">
                        <span class="sdt_wrap">
                            <span class="sdt_link">Online Recharge</span>
                            <span class="sdt_descr">Somthing</span>
                        </span>
                    </a>
                </li>
                <!--Post Bill-->
                <li>
                    <a href="@Url.Action("Index","PBP")" id="@(ViewBag.Current == "PBP" ? "active" : "")">
                        <span class="sdt_wrap">
                            <span class="sdt_link">Post Bill Payment</span>
                            <span class="sdt_descr">Something</span>
                        </span>
                    </a>
                </li>
                <!--Ass06-->
                <li>
                    <a href="@Url.Action("Index","ass06")" id="@(ViewBag.Current == "Contact" ? "active" : "")">
                        <span class="sdt_wrap">
                            <span class="sdt_link">Contact Us</span>
                            <span class="sdt_descr">Practice Data</span>
                        </span>
                    </a>
                </li>
                <!--Ass09-->
                <li>
                    <a href="@Url.Action("Index","ass09")" id="@(ViewBag.Current == "Account" ? "active" : "")">
                        <span class="sdt_wrap">
                            <span class="sdt_link">My Account</span>
                            <span class="sdt_descr">Become our Member</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>