<nav class="navbar navbar-expand-lg nav navbar-dark" style="background-color: rgb(0, 0, 0, 0.4);">
    <div class="container mb-2" >
        <a href="#home" style="border:solid "><img src="~/Logo/KMpng.png" height="94" width="259" /></a>
        <div class="navbar-collapse collapse">
<<<<<<< HEAD
            <ul class="nav navbar-nav mr-auto">
    
                <li class="nav-item">@Html.ActionLink("Online Recharge", "Index", "OR", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Post Bill Payment", "PostPaid", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact Us", "ContactUs", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("My Account", "Member", "Home", null, new { @class = "nav-link" })</li>
=======
            <ul class="nav navbar-nav ml-4">
                <li class="nav-item dropdown " style="background: none">
                    <span class="nav-link dropdown-toggle active" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        @Html.ActionLink("Online Recharge", "Payment", "Home", null, new { @class = "nav-link" })
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">ABC</a>
                        <a class="dropdown-item">DEF</a>
                    </div>
                </li>
                <li class="nav-item dropdown ">
                    <span class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Html.ActionLink("Post Bill Payment", "PostPaid", "Home", null, new { @class = "nav-link" })
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">ABC</a>
                        <a class="dropdown-item">DEF</a>
                    </div>
                </li>
                <li class="nav-item dropdown ">
                    <span class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Html.ActionLink("Contact Us", "ContactUs", "Home", null, new { @class = "nav-link" })
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">ABC</a>
                        <a class="dropdown-item">DEF</a>
                    </div>
                </li>
                <li class="nav-item dropdown ">
                    <span class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Html.ActionLink("My Account", "Member", "Home", null, new { @class = "nav-link" })
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">ABC</a>
                        <a class="dropdown-item">DEF</a>
                    </div>
                </li>
>>>>>>> Branch_HM
                <li>
                    <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                            <div class="searchbar">
                                <input class="search_input" type="text" name="" placeholder="I am looking for...    ">
                                <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            @*@Html.Partial("_LoginPartial")*@
        </div>
    </div>
</nav>