<!DOCTYPE html>
<html>
<head>
    <title>Online Recharge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <!-- Custom Theme files -->
    <link href="~/Content/style-OR.css" rel="stylesheet" />
    <!--fonts-->    
    @Styles.Render("~/Content/css")

    <!--//fonts-->
</head>
<body>
    <div class="bg-agile">
        <div class="text-agileits" align="center">
            <a href="@Url.Action("Home","Home")"><img src="~/Image/KMpng.png" style="width:100%;" /></a>
            <div class="text-agileits-inner">                
                @RenderBody()
                <div class="copy w3ls">
                    <p>Copyright 2019 KMobile </p>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
