@model IEnumerable<Data.Feedback>

@{
    ViewBag.Title = " Feedback";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fbCusname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fbObject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fbStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var obj = item.fbObject ? "Member" : "Guest";
        var status = item.fbStatus ? "Replied" : "Didn't Reply yet";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fbCusname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memEmail)
            </td>
            <td>
                @obj
            </td>
            <td>
                @status
            </td>
            <td>
                @Html.ActionLink(" Reply", "Reply", new { id = item.fbID }, new { @class = "btn btn-sm btn-primary fa fa-reply" })
                @Html.ActionLink(" Details", "Details", new { id = item.fbID }, new { @class = "btn btn-sm btn-info fa fa-info" })
            </td>
        </tr>
    }

</table>
