@model Data.Vo.Register

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="register-photo">
    <div class="form-container">
        <div data-aos="slide-up" data-aos-duration="1200" class="image-holder"></div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken() 
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.memPhone, new { htmlAttributes = new { @class = "bg-white border rounded border-primary shadow form-control", placeholder = "Phone number", maxlength = "11", minlength = "10", autofocus = "", inputmode = "numeric" } })
                    @Html.ValidationMessageFor(model => model.memPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.memName, new { htmlAttributes = new { @class = "bg-white border rounded border-primary shadow form-control", placeholder = "Your name" } })
                    @Html.ValidationMessageFor(model => model.memName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.memEmail, new { htmlAttributes = new { @class = "bg-white border rounded border-primary shadow form-control", required = "", placeholder = "Email", inputmode = "email" } })
                    @Html.ValidationMessageFor(model => model.memEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.memPass, new { htmlAttributes = new { @class = "bg-white border rounded border-primary shadow form-control", required = "", placeholder = "Password", minlength = "6" } })
                    @Html.ValidationMessageFor(model => model.memPass, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.memConfirmPass, new { htmlAttributes = new { @class = "bg-white border rounded border-primary shadow form-control", placeholder = "Password (repeat)", minlength = "6" } })
                    @Html.ValidationMessageFor(model => model.memConfirmPass, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label text-monospace">
                        <input class="form-check-input" type="checkbox" readonly checked>I agree to the license terms.
                    </label>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" data-bs-hover-animate="pulse">
                    Sign Up
                </button>
            </div>
            <a href="#" data-aos="zoom-in" data-aos-duration="1200" data-aos-delay="750" class="already" style="font-size: 16px;">
                <strong>
                    You already have an account?
                    <span style="text-decoration: underline;">Login here.</span>
                </strong>
            </a>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
