@model MobileServiceClient.Models.PBpay
@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        font-family: Calibri;
    }

    .card h1, i {
        color: whitesmoke
    }
</style>

<div class="card" style="background-color: rgba(0,0,0,0.8)">
    <div class="card-header"><h1>Post Bill Payment</h1></div>
    <div class="card-body" style="text-align">
        @using (Ajax.BeginForm("NextPay", "PBPay", new AjaxOptions { HttpMethod = "Post" }, new { id = "FormPB" }))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ml-5">
                        <label>
                            <i class="fa fa-barcode" aria-hidden="true">&nbsp;<span style="font-family: Calibri">Bill Code</span></i>
                            @Html.EditorFor(model => model.BillCode, new { htmlAttributes = new { @class = "form-control", id = "BillCode", placeholder = "Bill Code" } })
                            @Html.ValidationMessageFor(model => model.BillCode, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ml-5">
                        <label>
                            <i class="fa fa-inr" aria-hidden="true">&nbsp;<span style="font-family: Calibri">Amount</span></i>
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", id = "Amount", placeholder = "Amount (₹)" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ml-5">
                        <label>
                            <input class="btn btn-primary mt-4" type="submit" id="btnPB" value="Payment" />
                        </label>
                    </div>
                </div>
            </div>
        }
            <div id="formPay" style="display:none;">
                <button type="button" id="btnBack" class="btn btn-outline-light"> Back</button>
                <div class="row">
                    <div class="col-6">
                        @Html.Partial("NextPay")
                    </div>
                    <div class="col-6 text-white">
                        <div class=".payment-dialog-row text-black-50">
                            <div class="card credit-card-box">
                                <div class="card-header">
                                    <h3><span class="panel-title-text">Bill Info. </span></h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="font-weight-bold">Phone Number</label>
                                        <input type="tel" class="form-control" value="0916497870" disabled />
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold">Content</label>
                                        <textarea class="form-control" readonly rows="3" wrap="soft" cols="4" id="billContent"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Total </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-rupee text-black-50"></i></span></div>
                                            <input type="number" class="form-control w-25" id="billTotal" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script>
            $("#FormPB").submit(function () {
                if ($("#FormPB").valid() == true) {
                    $("#FormPB").hide("slow");
                    $("#formPay").show("slow");
                    $("#billTotal").val($("#Amount").val());
                    $("#billContent").html("Post bill payment with Bill code " + '"' + $("#BillCode").val() + '"');
                }
            });
  
            $("#btnBack").click(function () {
                $("#FormPB").show("slow");
                $("#formPay").hide("slow");
            });
        </script>
    </div>
</div>
