@model MobileServiceClient.Models.PBpay
@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        font-family: Calibri;
    }

    .card h1, i {
        color: whitesmoke
    }
</style>

<div class="card" style="background-color: rgba(0,0,0,0.8)">
    <div class="card-header"><h1>Post Bill Payment</h1></div>
    <div class="card-body" style="text-align">
        @using (Ajax.BeginForm("NextPay", "PBPay", new AjaxOptions { HttpMethod = "Post" }, new { id = "FormPB" }))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ml-5">
                        <label>
                            <i class="fa fa-barcode" aria-hidden="true">&nbsp;<span style="font-family: Calibri">Bill Code</span></i>
                            @Html.EditorFor(model => model.BillCode, new { htmlAttributes = new { @class = "form-control", id = "BillCode", placeholder = "Bill Code" } })
                            @Html.ValidationMessageFor(model => model.BillCode, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ml-5">
                        <label>
                            <i class="fa fa-inr" aria-hidden="true">&nbsp;<span style="font-family: Calibri">Amount</span></i>
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", id = "Amount", placeholder = "Amount (₹)" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ml-5">
                        <label>
                            <input class="btn btn-primary mt-4" type="submit" id="btnPB" value="Payment" />
                        </label>
                    </div>
                </div>
            </div>
        }
        <div class="row" id="formPay" style="display:none;">            
            <div class="col-6">
                <button type="button" id="btnBack" class="btn btn-outline-light"> Back</button>
                @Html.Partial("NextPay")
            </div>
            <div class="col-6 text-white">
                <h2>Bill Info</h2>
                <div>
                    <strong>Phone Number</strong>
                    <p id="infoPhone"></p>
                    <strong>Bill Code</strong>
                    <p id="infoBill"></p>
                    <strong>Amount</strong>
                    <p id="infoAmount"></p>
                </div>
            </div>
        </div>
        <script>
            $("#FormPB").submit(function () {
                if ($("#FormPB").valid() == true) {
                    $("#FormPB").hide("slow");
                    $("#formPay").show("slow");
                }
            });
            $("#BillCode").change(function () {
                $("#infoBill").html($("#Phone").val())
            });
            $("#Amount").change(function () {
                $("#infoAmount").html($("#Amount").val() + "(₹)")
            });
            $("#btnBack").click(function () {
                $("#FormPB").show("slow");
                $("#formPay").hide("slow");
            });
        </script>
    </div>
</div>
