@model MobileServiceClient.Models.PaymentClient

<div class=".payment-dialog-row text-black-50">
    <div class="card credit-card-box">
        <div class="card-header">
            <h3><span class="panel-title-text">Payment Details </span><img class="img-fluid panel-title-image" src="~/Image/accepted_cards.png"></h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="cardNumber">Name on Card </label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user text-black-50"></i></span></div>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control font-weight-bold", required = "", placeholder = "John" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="cardNumber">Card number </label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-credit-card-alt text-black-50"></i></span></div>
                                @Html.EditorFor(model => model.NumCard, new { htmlAttributes = new { @class = "form-control font-weight-bold", required = "", placeholder = "**** **** **** ****" } })
                                @Html.ValidationMessageFor(model => model.NumCard, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-7">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ExDate, htmlAttributes: new { @class = "form-control-label font-weight-bold" })
                            @Html.EditorFor(model => model.ExDate, new { htmlAttributes = new { @class = "form-control", placeholder = "MM/YY" } })
                            @Html.ValidationMessageFor(model => model.ExDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-5 pull-right">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CVV, htmlAttributes: new { @class = "form-control-label font-weight-bold" })
                            @Html.EditorFor(model => model.CVV, new { htmlAttributes = new { @class = "form-control", placeholder = "***" } })
                            @Html.ValidationMessageFor(model => model.CVV, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12"><button class="btn btn-success btn-block btn-lg" type="submit">Start Subscription</button></div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

