@model IEnumerable<Data.Service>

@{
    ViewBag.Title = " Service";
}

<p>
    @Html.ActionLink(" Add New", "Create", null, new { @class = "btn btn-link fa fa-plus" })
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sDes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sPrice)
            </td>
            <td>
                @Html.ActionLink(" Edit", "Edit", new { id = item.sID }, new { @class = "btn btn-sm btn-primary fa fa-edit" })
                @Html.ActionLink(" Details", "Details", new { id = item.sID }, new { @class = "btn btn-sm btn-info fa fa-info" })
                @Html.ActionLink(" Delete", "Delete", new { id = item.sID }, new { @class = "btn btn-sm btn-danger fa fa-remove" })
            </td>
        </tr>
    }

</table>
