@model Data.Product

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
