@model IEnumerable<Data.Product>

@{
    ViewBag.Title = " Product";
}

<p>
    @Html.ActionLink(" Add New", "Create", null, new { @class = "btn btn-link fa fa-plus" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pMR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pDes)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pMP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pMR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pDes)
            </td>
            <td>
                @Html.ActionLink(" Edit", "Edit", new { id = item.pID }, new { @class = "btn btn-sm btn-primary fa fa-edit" })
                @Html.ActionLink(" Details", "Details", new { id = item.pID }, new { @class = "btn btn-sm btn-info fa fa-info" })
                @Html.ActionLink(" Delete", "Delete", new { id = item.pID }, new { @class = "btn btn-sm btn-danger fa fa-remove" })
            </td>
        </tr>
    }

</table>
