@model Data.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.billPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billCusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billCusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.billID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
