@model MobileServiceClient.Models.OR

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="newsletter">
    <div id="FormMain">
        @using (Ajax.BeginForm("InfoBill", "Home", new AjaxOptions { HttpMethod = "Post" }, new { id = "FormOR" }))
        {
            <h2>Online Recharge Now @ViewBag.BillPhone</h2>
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { id = "Phone", placeholder = "Phone number", maxlength = 11, autofocus = "" } })
            @Html.ValidationMessageFor(model => model.Phone, "")
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @id = "Amount", @placeholder = "Amount (₹)" } })
            @Html.ValidationMessageFor(model => model.Amount, "")
            <input type="submit" id="btnOR" value="Payment Now" />
        }
        <div id="formPay" style="display:none;" align="left">
            <button type="button" id="btnBack"> << Back</button>
            <div class="row">
                <div class="col-7">
                    @Html.Partial("NextPay")
                </div>
                <div class="col-5">
                    @Html.Partial("InfoBill")
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#FormOR").submit(function () {
        if ($("#FormOR").valid()==true) {
            $("#FormOR").hide("slow");
            $("#formPay").show("slow");
        }
    });
    $("#btnBack").click(function () {
        $("#FormOR").show("slow");
        $("#formPay").hide("slow");
    });
</script>

