@model Data.Member

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.memPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memPass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.memPhone }) |
    @Html.ActionLink("Back to List", "Index")
</p>
