@model IEnumerable<Data.Member>

@{
    ViewBag.Title = " Member";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.memPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memEmail)
        </th>        
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.memPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memEmail)
            </td>            
            <td>
                @Html.ActionLink(" Details", "Details", new { id = item.memPhone }, new { @class = "btn btn-sm btn-info fa fa-info" })
            </td>
        </tr>
    }

</table>
