@model IEnumerable<Data.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adPass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adRole)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        var role = "Admin";
        if (item.adRole)
        {
            role = "Super Admin";
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.adImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adName)
            </td>
            <td>
                @string.Format("{0}{1}******", item.adPass[0], item.adPass[1])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adRole)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { adName = item.adName }) |
                @Html.ActionLink("Details", "Details", new { adName = item.adName }) |
                @Html.ActionLink("Delete", "Delete", new { adName = item.adName })
            </td>
        </tr>
    }

</table>
