@model IEnumerable<Data.Admin>

@{
    ViewBag.Title = " Admin";
}

<p>
    @Html.ActionLink(" Add New", "Create",null,new { @class= "btn btn-link fa fa-plus" })
</p>

<table class="table">
    <tr>
        <th>
            
            @Html.DisplayNameFor(model => model.adImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adPass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adRole)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        var role = "Admin";
        if (item.adRole)
        {
            role = "Super Admin";
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.adImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adName)
            </td>
            <td>
                @string.Format("{0}{1}******", item.adPass[0], item.adPass[1])
            </td>
            <td>
                @role
            </td>
            <td>
                @Html.ActionLink(" Details", "Details", new { adName = item.adName }, new { @class = "btn btn-sm btn-info fa fa-info" })
                @Html.ActionLink(" Delete", "Delete", new { adName = item.adName }, new { @class = "btn btn-sm btn-danger fa fa-remove" })

            </td>
        </tr>
    }

</table>
